################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chord_Finder/.vs
/Chord_Finder/bin
/Chord_Finder/obj
/Chord_Finder_Core/bin
/Chord_Finder_Core/obj
/Chord_Finder_Tests/bin
/Chord_Finder_Tests/obj
