################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chord Finder/.vs
/Chord Finder/bin
/Chord Finder/obj
/Chord Finder_Core/bin
/Chord Finder_Core/obj
