################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chord Finder/.vs
/Chord Finder/bin
/Chord Finder/obj
/Chord Finder_Tests/bin/
/Chord Finder_Tests/obj
